@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="prof-cardview-avaliacao">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Avaliação 1045</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">Disciplina</div>
                <div class="col-md-8">Matemática</div>
            </div>
            <div class="row">
                <div class="col-md-4">Matéria</div>
                <div class="col-md-8">Regra de 3 Simples</div>
            </div>
            <div class="row">
                <div class="col-md-4">Descrição</div>
                <div class="col-md-8">Avaliação Mensal 1</div>
            </div>
            <!--div class="row" style="margin-top:10px;">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-outline-info btn-sm">Publicações</button>
                </div>
            </div-->
        </div>
    </div>
</div>
